<ion-card>
  <ion-card-header>
    <ion-card-title>Registration</ion-card-title>
    <ion-card-subtitle>Please register to use this app</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-label>E-Mail</ion-label>
          <ion-input type="email" placeholder="Email" [(ngModel)]="email"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label>Username</ion-label>
          <ion-input type="text" placeholder="Username" [(ngModel)]="username"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label>Password</ion-label>
          <ion-input type="password" placeholder="Password" [(ngModel)]="password"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button color="primary" (click)="register()">Register</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-card-content>
</ion-card>
