<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-title>Timer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <ion-grid>
    <ion-row>
      <ion-col>
        <h1>{{passedTime.toString()}}</h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button color="primary" (click)="start()">Start</ion-button>
        <ion-button color="danger" (click)="stop()">Stop</ion-button>
        <ion-button color="warning" (click)="reset()">Reset</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
