<ion-header>
  <ion-toolbar color="dark" style="border-bottom: 1px solid yellow">
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-title>Timer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <ion-item color="dark">
    <ion-label>Dauer:</ion-label>
    <ion-datetime display-format="mm:ss" placeholder="Tap here" [(ngModel)]="targetTimeInput" (ionChange)="onTargetTimeChanged()"></ion-datetime>
  </ion-item>

  <circle-progress (click)="start()"
  [percent]="percent"
  [maxPercent]="100"
  [radius]="radius"
  [showTitle]="false"
  [showSubtitle]="false"
  [showUnits]="false"
  [outerStrokeWidth]="16"
  [outerStrokeColor]="'#ffce00'"
  [showZeroOuterStroke]="false"
  [backgroundStroke]="'#3b3f00'"
  [backgroundStrokeWidth]="3"
  [outerStrokeGradient]="true"
  [outerStrokeGradientStopColor]="'#ff9000'"
  [showInnerStroke]="false">
  </circle-progress>
  <p>
    {{ passedTime.toString() }}
  </p>

  <ion-fab vertical="bottom mb-5" horizontal="center" slot="fixed">
    <ng-container *ngIf="dateUpdater==0, else running">
      <ion-fab-button color="warning" (click)="start()">
        <ion-icon name="play"></ion-icon>
      </ion-fab-button>
    </ng-container>
    <ng-template #running>
      <ion-fab-button color="danger" (click)="stop()">
        <ion-icon  name="square"></ion-icon>
      </ion-fab-button>
    </ng-template>
  </ion-fab>
</ion-content>
