<ion-header>
  <ion-toolbar color="dark" style="border-bottom: 1px solid yellow">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Add Workout
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <ion-card color="warning" *ngFor="let workout of _dataService.Workouts" (click)="onSelectWorkout(workout)">
      <ion-card-header color="warning">
          <ion-card-title>
              {{workout.name}}
          </ion-card-title>
      </ion-card-header>
      <ion-card-content>
      </ion-card-content>
  </ion-card>
</ion-content>
