<ion-header>
  <ion-toolbar color="dark" style="border-bottom: 1px solid yellow">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="Day != null">
      {{Day.name}}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="presentPopover($event)">
        <ion-icon slot="icon-only" name="more"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="dark" *ngIf="Day == null || Day.workouts.length == 0">
  <ion-card color="dark">
    <ion-card-header color="dark">
      <ion-card-subtitle>Keine Übungen für diesen Tag vorhanden !</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
</ion-content>
<ion-content color="dark" *ngIf="Day != null">
  <div *ngFor="let workout of Day.workouts">
    <ion-card [color]="getWorkoutCardColor(workout)" (click)="onWorkoutClick(workout)">
        <ion-card-header [color]="getWorkoutCardColor(workout)" >
          <ion-card-title>
            <ion-item-sliding>
                <ion-item [color]="getWorkoutCardColor(workout)" >
                    <h5>
                      {{workout.name}}
                    </h5>
                </ion-item>
              <ion-item-options>
                <ion-button color="danger" (click)="removeWorkout(workout)"><ion-icon name="trash"></ion-icon> Löschen</ion-button>
              </ion-item-options>
            </ion-item-sliding>
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
        </ion-card-content>
      </ion-card>
    </div>
</ion-content>

