<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{day.name}}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="presentPopover($event)">
        <ion-icon slot="icon-only" name="more"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="dark" *ngIf="!day.workouts || day.workouts.length == 0">
  <ion-card color="dark">
    <ion-card-header color="dark">
      <ion-card-subtitle>Fügen Sie eine Übung hinzu </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Add one from Templates !
    </ion-card-content>
  </ion-card>
</ion-content>


    <ion-content color="dark" *ngIf="day.workouts && day.workouts.length > 0">
        <div *ngFor="let workout of day.workouts">
        <ion-card color="warning" *ngIf="!WorkoutIsFinished(workout)">
          <ion-card-header color="warning" >
            <ion-card-title>
              <ion-item-sliding>
                <ion-item color="warning" (click)="onWorkoutClick(workout)">
                  <h5>
                    {{workout.name}}
                  </h5>
                </ion-item>
                <ion-item-options>
                  <ion-button color="danger" (click)="removeWorkout(workout)"><ion-icon name="trash"></ion-icon> Löschen</ion-button>
                </ion-item-options>
              </ion-item-sliding>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
          </ion-card-content>
        </ion-card>
      
        <ion-card color="success" *ngIf="WorkoutIsFinished(workout)">
            <ion-card-header color="success"  >
              <ion-card-title>
                <ion-item-sliding>
                    <ion-item color="success" (click)="onWorkoutClick(workout)">
                        <h5>
                          {{workout.name}}
                        </h5>
                    </ion-item>
                  <ion-item-options>
                    <ion-button color="danger" (click)="removeWorkout(workout)"><ion-icon name="trash"></ion-icon> Löschen</ion-button>
                  </ion-item-options>
                </ion-item-sliding>
              </ion-card-title>
            </ion-card-header>
            <ion-card-content>
            </ion-card-content>
          </ion-card>
          </div>
      </ion-content>      

