<ion-header>
  <ion-toolbar color="dark" style="border-bottom: 1px solid yellow">
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-title>
      Trainingstag Hinzufügen
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <ion-card color="dark">
    <ion-card-header>
      <ion-card-title>
        Neuer Trainingstag
      </ion-card-title>
    </ion-card-header>
    <ion-card-content style="font-size: 18px;">
      <ion-item color="dark">
        <ion-label position="stacked">Name</ion-label>
        <ion-input type="text" [(ngModel)]="name"></ion-input>
      </ion-item>
      <ion-item color="dark">
          <ion-label position="stacked">Übungen</ion-label>
        <ion-select interface="popover" multiple="true" [(ngModel)]="selectedWorkouts" class="w-100 bg-ionic-dark text-dark-contrast">
          <ion-select-option [value]="workout" *ngFor="let workout of Workouts">
            {{workout.name}}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-button color="warning" (click)="onAddDayClick()" [disabled]="!InputsValid">Tag hinzufügen</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
