<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-title>
      Change Training
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <ion-card color="dark" *ngIf="Trainings && Trainings.length > 0">
    <ion-card-header>
      <ion-card-title>
        Training Auswählen
      </ion-card-title>
    </ion-card-header>
    <ion-card-content style="font-size: 18px;">
      <ion-list class="bg-ionic-dark">
        <ion-item-sliding *ngFor="let training of Trainings" (click)="onSelectTraining(training)">
          <ion-item color="dark">
            <h5>
              {{training.name}}
            </h5>
          </ion-item>
          <ion-item-options>
            <ion-button color="danger" (click)="removeTraining(training)"><ion-icon name="trash"></ion-icon> Löschen</ion-button>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-card color="dark">
    <ion-card-header>
      <ion-card-title>
        Neues Training Erstellen
      </ion-card-title>
    </ion-card-header>
    <ion-card-content style="font-size: 18px;">
      <ion-button color="warning" size="large" (click)="onCreateNewTraining()">Neues Training</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
