<ion-card>
  <ion-card-header>
    <ion-card-subtitle>Please log in to use this app</ion-card-subtitle>
    <ion-card-title>Login</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-input type="text" ></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-input type="password"></ion-input>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-card-content>
</ion-card>


npm install -g ionic cordova

ionic start myApp tabs

cd myApp
ionic serve
ionic serve --lab
ionic serve --app