<ion-header>
  <ion-toolbar color="dark">
    <ion-title>
      <span *ngIf="!TrainingPlan">
        Home
      </span>
      <span *ngIf="TrainingPlan">
        {{TrainingPlan.name}}
      </span>
    </ion-title>
    <ion-buttons slot="end" *ngIf="TrainingPlan != null">
      <ion-button (click)="presentPopover($event)">
        <ion-icon slot="icon-only" name="more"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="warning" *ngIf="!TrainingPlan">
  <ion-card color="warning">
    <ion-card-header color="warning">
      <ion-button size="large" color="warning" (click)="onChangeTraining()">Ein Training auswählen</ion-button>
    </ion-card-header>
    <ion-card-content>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-content class="TrainingDay" color="dark" *ngIf="TrainingPlan">
  <ion-card color="warning" *ngFor="let day of TrainingDays">
    <ion-card-header color="warning">
      <ion-card-title>
        <ion-item-sliding>
          <ion-item color="warning" (click)="onDayClick(day)">
            <h5>
              {{day.name}}
            </h5>
          </ion-item>
          <ion-item-options>
            <ion-button color="danger" (click)="removeDay(day)"><ion-icon name="trash"></ion-icon> Löschen</ion-button>
          </ion-item-options>
        </ion-item-sliding>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
    </ion-card-content>
  </ion-card>
</ion-content>
