<ion-header>
  <ion-toolbar color="dark" style="border-bottom: 1px solid yellow">
    <ion-title>
      <span *ngIf="!TrainingPlan">
        Home
      </span>
      <span *ngIf="TrainingPlan">
        {{TrainingPlan.name}}
      </span>
    </ion-title>
    <ion-buttons slot="end" *ngIf="TrainingPlan != null">
      <ion-button (click)="presentPopover($event)">
        <ion-icon slot="icon-only" name="more"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="dark" *ngIf="!TrainingPlan">
  <ion-card color="dark">
    <ion-card-header color="dark">
      <ion-button size="large" color="warning" (click)="onChangeTraining()">Ein Training auswählen</ion-button>
    </ion-card-header>
    <ion-card-content>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-content class="TrainingDay" color="dark" *ngIf="TrainingPlan && TrainingDays.length > 0">
  <div *ngFor="let day of TrainingDays">
    <ion-card [color]="getCardColor(day)" (click)="onDayClick(day)">
        <ion-card-header [color]="getCardColor(day)">
          <ion-card-title>
            <ion-item-sliding>
              <ion-item [color]="getCardColor(day)">
                <h5>
                  {{day.name}}
                </h5>
              </ion-item>
              <ion-item-options>
                <ion-button color="danger" (click)="removeDay(day)"><ion-icon name="trash"></ion-icon> Löschen</ion-button>
              </ion-item-options>
            </ion-item-sliding>
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
        </ion-card-content>
      </ion-card>
  </div>
</ion-content>

<ion-content class="TrainingDay" color="dark" *ngIf="TrainingPlan && TrainingDays.length == 0">
  <div>
    <ion-card color="dark">
      <ion-card-header color="dark">
        <ion-card-title>
          <ion-button color="warning" (click)="onAddDayClick()"> Tag hinzufügen</ion-button>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
