<ion-header>
  <ion-toolbar color="dark">
    <ion-title>
      <span *ngIf="!TrainingPlan">
        Home
      </span>
      <span *ngIf="TrainingPlan">
        {{TrainingPlan.name}}
      </span>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="presentPopover($event)">
        <ion-icon slot="icon-only" name="more"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="dark" *ngIf="!TrainingPlan">
  <ion-card color="dark">
    <ion-card-header color="dark">
      <ion-card-subtitle>Erstellen Sie einen neuen Trainings-Plan</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Manual or Generate ?
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-content color="dark" *ngIf="TrainingPlan">
  <ion-card color="dark" *ngFor="let day of TrainingDays" (click)="onDayClick(day)">
    <ion-card-header color="dark">
      <ion-card-title>
        {{day.name}}
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
    </ion-card-content>
  </ion-card>
</ion-content>
