<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{workout.name}}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="presentPopover($event)">
        <ion-icon slot="icon-only" name="more"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content color="dark">
  <ion-card color="dark">
    <ion-card-header color="dark">
      <ion-card-title>{{workout.name}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            Sets:
          </ion-col>
          <ion-col>
            <ion-input [(ngModel)]="workout.sets" type="number" min="0"></ion-input>
          </ion-col>
          <ion-col>
            <ion-button (click)="onDecrementSets()">-</ion-button>
          </ion-col>
          <ion-col>
            <ion-button (click)="onIncrementSets()">+</ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            Repetitions:
          </ion-col>
          <ion-col>
            <ion-input [(ngModel)]="workout.repetitions" type="number" min="0"></ion-input>
          </ion-col>
          <ion-col>
            <ion-button (click)="OnDecrementRepetitions()">-</ion-button>
          </ion-col>
          <ion-col>
            <ion-button (click)="OnIncrementRepetitions()">+</ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            Weight:
          </ion-col>
          <ion-col>
            <ion-input [(ngModel)]="workout.weight" type="number" min="0"></ion-input>
          </ion-col>
          <ion-col>
            <ion-button (click)="onDecrementWeight()">-</ion-button>
          </ion-col>
          <ion-col>
            <ion-button (click)="onIncrementWeight()">+</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-button (click)="onFinish()"> Finish </ion-button>
      <ion-button (click)="onHistoryClick()"> History </ion-button>
      <ion-button (click)="onTimerClick()"> Timer </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
