<ion-header>
  <ion-toolbar color="dark" style="border-bottom: 1px solid yellow">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/training-day/{{_dataService.CurrentDay.id}}"></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{workout.name}}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="presentPopover($event)">
        <ion-icon slot="icon-only" name="more"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content color="dark">
  <ion-card color="dark">
    <ion-card-content style="font-size: 18px;">
      <table class="table-sm table-borderless table-dark bg-ionic-dark">
        <tbody>
          <tr>
            <td>
              <span class="text-dark-contrast">
                  Sätze
              </span>
            </td>
            <td>
              <ion-input [(ngModel)]="sets" class="text-dark-contrast w-75 float-right" type="number" min="0"></ion-input>
            </td>
            <td>
              <ion-button size="large" color="warning"  LongPressDirective [longPressTimeout]="100"  (pressStarted)="onDecrementSets()"  (pressing)="onDecrementSets()" (click)="onDecrementSets()">-</ion-button>
            </td>
            <td>
              <ion-button size="large" color="warning" LongPressDirective [longPressTimeout]="100" (pressStarted)="onIncrementSets()"  (pressing)="onIncrementSets()" (click)="onIncrementSets()">+</ion-button>
            </td>
          </tr>
          <tr>
            <td>
              <span  class="text-dark-contrast">
                  Wiederholungen
              </span>
            </td>
            <td>
              <ion-input [(ngModel)]="repetitions" class="text-dark-contrast w-75 float-right" type="number" min="0"></ion-input>
            </td>
            <td>
              <ion-button size="large" color="warning" LongPressDirective [longPressTimeout]="100"  (pressStarted)="OnDecrementRepetitions()"  (pressing)="OnDecrementRepetitions()" (click)="OnDecrementRepetitions()">-</ion-button>
            </td>
            <td>
              <ion-button size="large" color="warning" LongPressDirective [longPressTimeout]="100"  (pressStarted)="OnIncrementRepetitions()"  (pressing)="OnIncrementRepetitions()" (click)="OnIncrementRepetitions()">+</ion-button>
            </td>
          </tr>
          <tr>
            <td>
              <span  class="text-dark-contrast">
                  Gewicht
              </span>
            </td>
            <td>
              <ion-input [(ngModel)]="weight"  class="text-dark-contrast w-75 float-right" type="number" min="0"></ion-input>
            </td>
            <td>
              <ion-button size="large" color="warning" LongPressDirective [longPressTimeout]="100"  (pressStarted)="onDecrementWeight()"  (pressing)="onDecrementWeight()" (click)="onDecrementWeight()">-</ion-button>
            </td>
            <td>
              <ion-button size="large" color="warning" LongPressDirective [longPressTimeout]="100"  (pressStarted)="onIncrementWeight()"  (pressing)="onIncrementWeight()" (click)="onIncrementWeight()">+</ion-button>
            </td>
          </tr>
        </tbody>
      </table>
      <ion-button size="large" color="warning" (click)="onFinish()"> Übung beenden </ion-button>
      <ion-button size="large" color="warning" (click)="onHistoryClick()"> Historie </ion-button>
      <ion-button size="large" color="warning" (click)="onTimerClick()"> Timer </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
