// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';
@import "~bootstrap/scss/bootstrap";

$dark:  #222428;

.bg-ionic-dark {
  background-color: #222428 !important;
}

.text-dark-contrast {
  color: #ffce00;
}

// Make List items Dark
.item-complex .item-content {
  background-color: #222428 !important;
}


