<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="History && History.length > 0">
      {{"History "+ History[0].workout.name}}
    </ion-title>
    <ion-title *ngIf="!History || History.length == 0">
      {{"History"}}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="presentPopover($event)">
        <ion-icon slot="icon-only" name="more"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="dark" *ngIf="!History || History.length == 0">
  <ion-card color="dark">
    <ion-card-header color="dark">
      <ion-card-subtitle>Keine Einträge!</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>

    </ion-card-content>
  </ion-card>
</ion-content>

<ion-content color="dark" *ngIf="History && History.length > 0">
  <ion-card color="dark">
    <ion-card-content>
      <ion-list class="bg-ionic-dark">
        <ion-grid>
          <ion-row>
            <ion-col>Datum</ion-col>
            <ion-col>Sätze</ion-col>
            <ion-col>Wiederholungen</ion-col>
            <ion-col>Gewicht</ion-col>
          </ion-row>
          <ion-row  *ngFor="let item of History">
            <ion-item-sliding>
              <ion-item color="dark">
                    <ion-col>
                      {{item.Date | date}}
                    </ion-col>
                    <ion-col>
                      {{item.workout.sets}}
                    </ion-col>
                    <ion-col>
                      {{item.workout.repetitions}}
                    </ion-col>
                    <ion-col>
                      {{item.workout.weight}}
                    </ion-col>
              </ion-item>
              <ion-item-options>
                <ion-button color="danger" (click)="removeItem(item)"><ion-icon name="trash"></ion-icon> Löschen</ion-button>
              </ion-item-options>
            </ion-item-sliding>
          </ion-row>
        </ion-grid>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
